<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>
  <h1>Cupcakes</h1>

  <ul class="cupcake-list"></ul>

  <h2>Add a cupcake!</h2>
  <form action="/api/cupcakes" method="POST">
    <div>
      <label for="flavor">Flavor:</label>
      <input type="text" name="flavor">
    </div>
    <div>
      <label for="size">Size:</label>
      <input type="text" name="'size">
    </div>
    <div>
      <label for="rating">Rating:</label>
      <input type="number" name="rating">
    </div>
    <div>
      <label for="image-url">Image URL:</label>
      <input type="text" name="image-url">
    </div>
    <!-- type=submit? -->
    <button>Add Cupcake!</button>

  </form>

  <script src="https://unpkg.com/jquery"></script>
  <script>src="static/cupcakes.js"</script>
</body>
</html>