<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>
<body>
  <h1>Cupcakes</h1>

  <ul class="cupcakeList"></ul>

  <h2>Add a cupcake!</h2>
  <form class="cupcakeForm">
    <div>
      <label for="flavor">Flavor:</label>
      <input id='flavor' type="text" name="flavor">
    </div>
    <div>
      <label for="size">Size:</label>
      <input id='size' type="text" name="'size">
    </div>
    <div>
      <label for="rating">Rating:</label>
      <input id='rating' type="number" name="rating">
    </div>
    <div>
      <label for="imageUrl">Image URL:</label>
      <input id='imageUrl' type="text" name="imageUrl">
    </div>
    <!-- type=submit? -->
    <button id="submitButton" type="submit">Add Cupcake!</button>

  </form>


  <script src="https://unpkg.com/jquery"></script>
  <script src="static/cupcakes.js"></script>
</body>
</html>